<body>
    <div class="center">
      <h1>Register</h1>
      <form method="post">
        <div class="txt_field">
          <input type="text" required>
          <span></span>
          <label>Email</label>
        </div>
        <div class="txt_field">
          <input type="text" required>
          <span></span>
          <label>Username</label>
        </div>
        <div class="txt_field">
          <input type="password" required>
          <span></span>
          <label>Password</label>
        </div>
        <div class="txt_field">
            <input type="repass" required>
            <span></span>
            <label>Repeat password</label>
          </div>
        
        <input type="submit" value="Register">
        <div class="signup_link">
         Already have an account? <a routerLink="/auth/login">Log in</a>
        </div>
      </form>
    </div>

  </body>