<body>

<body>
<div class="container-back">

<div class="main">

 <!--cards -->

 <div class="card-container">
       
   <div class="image">
       <span class="crop">
      <img src="../../assets/images/rio.jpg">
       </span>
   </div>
   <div class="title">
    <h1>
      aa</h1>
   </div>
   <div class="des">
    <p>description</p>
    <p>Price: 500$</p>
   <button>Visit</button>
   </div>
   
   </div>






<!--cards -->


<div class="card-container">
       
   <div class="image">
       <span class="crop">
      <img src="../../assets/images/rio.jpg">
       </span>
   </div>
   <div class="title">
    <h1>
      aa</h1>
   </div>
   <div class="des">
    <p>description</p>
    <p>Price: 500$</p>
   <button>Visit</button>
   </div>
   
   </div>
<!--cards -->


<div class="card-container">
       
   <div class="image">
       <span class="crop">
      <img src="../../assets/images/rio.jpg">
       </span>
   </div>
   <div class="title">
    <h1>
      aa</h1>
   </div>
   <div class="des">
    <p>description</p>
    <p>Price: 500$</p>
   <button>Visit</button>
   </div>
   
   </div>
<!--cards -->

<div class="card-container">
       
   <div class="image">
       <span class="crop">
      <img src="../../assets/images/rio.jpg">
       </span>
   </div>
   <div class="title">
    <h1>
      aa</h1>
   </div>
   <div class="des">
    <p>description</p>
    <p>Price: 500$</p>
   <button>Visit</button>
   </div>
   
   </div>
<!--cards -->

<div class="card-container">
       
   <div class="image">
       <span class="crop">
      <img src="../../assets/images/rio.jpg">
       </span>
   </div>
   <div class="title">
    <h1>
      aa</h1>
   </div>
   <div class="des">
    <p>description</p>
    <p>Price: 500$</p>
   <button>Visit</button>
   </div>
   
   </div>
<!--cards -->


<div class="card-container">
       
   <div class="image">
       <span class="crop">
      <img src="../../assets/images/rio.jpg">
       </span>
   </div>
   <div class="title">
    <h1>
      aa</h1>
   </div>
   <div class="des">
    <p>description</p>
    <p>Price: 500$</p>
   <button>Visit</button>
   </div>
   
   </div>
<!--cards -->




</div>
</div>
</body>
