* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Google Sans Regular";
    box-sizing: border-box;
}


footer {
    margin-top: auto;
    text-align: center;
    background: #2c0b33;
}

footer p {
    padding: 1rem 0;
    font-weight: bold;
    margin: 0rem;
    color: white;
    font-size: 20px;
}