
 <div class="container">
    <div class="wrapper">
        <div class="title">
          Create a Trip
        </div>
        <div class="form">
           <div class="inputfield">
              <label>Destination</label>
              <input type="text" class="input">
           </div>  
            <div class="inputfield">
              <label>Price</label>
              <input type="text" class="input">
           </div>  
           <div class="inputfield">
              <label>Number of people</label>
              <input type="password" class="input">
           </div>  
          <div class="inputfield">
              <label>Image URL</label>
              <input type="password" class="input">
           </div> 
           
           
           
          <div class="inputfield">
              <label>Description</label>
              <textarea class="textarea"></textarea>
           </div> 
         
        
          <div class="inputfield">
            <input type="submit" value="Create" class="btn">
          </div>
        </div>
    </div>	
   </div>
        
    