<body>
	<div class="section">
		<div class="container">
			<div class="content-section">
				<div class="title">
					<h1>About Us</h1>
				</div>
				<div class="content">
					<h3>Traveling agency satisfying customers for over 10 years.</h3>
					<p>Xplore is America's biggest online transport ticketing stage that has changed transport travel in the nation by conveying straightforwardness and comfort 
					to a great many Americas who travel utilizing transport.</p>
					<div class="button">
						<a href="/home">Our offers</a>
					</div>
				</div>
				
			</div>
			<div class="image-section">
				<img src="../../assets/images/planeview.jpg">
			</div>
		</div>
	</div>

	
</body>