*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}

.container-back{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(9,0,77,0.65),rgba(9,0,77,0.65)), url(../../assets/images/background.png);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;

}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo{
    width: 180px;
    cursor: pointer;
}

nav ul{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}

nav ul li{
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.btn{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: #f5168d;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}
.btn img{
    width: 20px;
    margin-right: 10px;
}
.content{
    margin-top: 3%;
    color: #fff;
    max-width: 620px;
}
.content h1{
    font-size: 70px;
    font-weight: 600;
    line-height: 85px;
    margin-bottom: 25px;
}
.content form{
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
}

.content form input{
    border: 0;
    outline: 0;
    width: 100%;
    font-size: 16px;
    padding-left: 10px;
}

.content form .btn {
    font-size: 15px;
    padding: 10px 30px;
}
.card-container{
    width: 20%;
    display: inline-block;
    box-shadow: 2px 2px 20px black;
    border-radius: 5px; 
    margin: 2%;
    background-color: #fff;
   }

.card-container .image .crop{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.card-container .image .crop img {
    height: auto;
    width: 100%;
   }

.card-container .title{

 text-align: center;
 padding: 20px;
 
}

.card-container h1{
 font-size: 20px;
}

.card-container .des{
 padding: 3px;
 text-align: center;

 padding-top: 10px;
       border-bottom-right-radius: 5px;
 border-bottom-left-radius: 5px;
}
.card-container button{
    width: 80px;
    font-size: 20px;
    margin-top: 40px;
   margin-bottom: 10px;
   background-color: white;
   border: 1px solid #2c0b33;
   border-radius: 5px;
   padding:10px;
}


.card-container button:hover{
 background-color: #2c0b33;
 color: white;
 transition: .5s;
 cursor: pointer;
}